.chat {
	display: grid;
	grid-template-rows: auto 1fr auto;
	padding: 5px;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
}

.App {
	display: flex;
	box-sizing: border-box;
}

#header, #volumeButton, #nickname, .nickname {
	display: none;
}

#layout {
	height: 120px;
	background-color: white;
	overflow: scroll;
	position: relative;
	top:0;
	left: 0;
}

video {
	width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
}

.bounds {
	position: static;
}